<div class="container">
  <h1>Simplest Possible AJAX</h1>
  <p>This contrived app will simulate a roll of a n-sided die.</p>

  <form id= "die_roll_form" method="post" action="/rolls">
    <p>
      <label name="sides"/>How many sides?</label>
      <input id= "sides_id" name="sides" type="integer" placeholder="optional - default=6" value="<%= params[:sides] %>"/>
    </p>
    <p><input id= "submit_id" type="submit" value="Roll the Die"></p>
  </form>

  <div id="die-container">
    <% if @die %>
      <%= erb :_roll, layout: false %>
    <% end %>
  </div>
<!--
</div>
 -->
